snippet divc
	<div class="$1">
		$0${VISUAL}
	</div>

snippet =
	<%= $0${VISUAL} %>

snippet -
	<% $0${VISUAL} %>

snippet #
	<%# $0${VISUAL} %>

snippet if
	<% if ${1:cond} %>
		$0${VISUAL}
	<% end %>

snippet do
	<%= $1 do $2%>
		$0${VISUAL}
	<% end %>
