snippet it b!
	it "${1:works}" do
		$0
	end

snippet con b!
	context "${1:context}" do
		$0
	end

snippet desc b!
	describe "${1:something}" do
		$0
	end

snippet let b!
	let(:${1:name}) $0

snippet do
	do
		$0
	end

snippet dop
	do |${1:args}|
		$0
	end

snippet def
	def ${1:method}
		$0
	end

snippet begin
	begin
		$0
	end

snippet if
	if ${1:true}
		$0
	end

snippet ore
	||= $0

snippet case
	case $1
	when $2
		$0
	end
