* {
  font-size: 14px;
}

.control-center:dir(ltr) {
  background: alpha(@base00, 0.25);
  border: none;
  border-radius: 0;
}

row.notification-group {
  background: transparent;
}

.control-center .notification-row overlay.notification-background,
.control-center .notification-row overlay.notification-background:hover {
  background: transparent;
}

box.notification-default-action:hover {
  background: transparent;
}

box.notification.normal,
box.notification.low {
  background: alpha(@base01, 0.95);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  border-color: @base02;
  border-top-color: mix(@base00, white, 0.35);
  border-bottom-color: mix(@base00, black, 0.35);
}

box.notification.critical {
  background: alpha(@base01, 0.95);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  border-color: @base09;
  border-top-color: mix(@base09, white, 0.35);
  border-bottom-color: mix(@base09, black, 0.35);
}

box.notification-content {
  font-size: 20px;
  padding: 8px;
  border: none;
  background: none;
}

.control-center .text-button,
flowboxchild>button.text-button {
  background-color: @base01;
  border-style: solid;
  border-width: 1px;
  border-color: @base02;
  border-top-color: mix(@base00, white, 0.35);
  border-bottom-color: mix(@base00, black, 0.35);
}

.control-center .text-button:active,
flowboxchild>button.text-button:active {
  background-color: @base01;
  border-bottom-color: mix(@base00, white, 0.35);
  border-top-color: mix(@base00, black, 0.35);
}

flowboxchild.notification-action,
flowboxchild.notification-action:active {
  background: transparent;
}

.circular.close-button.flat {
  border: 1px solid @base08;
  border-bottom-color: mix(@base08, black, 0.5);
  border-top-color: mix(@base08, white, 0.5);
}

.circular.close-button.flat:active {
  border: 1px solid @base08;
  border-top-color: mix(@base08, black, 0.5);
  border-bottom-color: mix(@base08, white, 0.5);
}

.control-center .widget-dnd>switch {
  background-color: @base01;
  border-color: @base02;
  border-bottom-color: mix(@base00, white, 0.35);
  border-top-color: mix(@base00, black, 0.35);
}

.control-center switch slider {
  background: @base04;
  border: 1px solid @base04;
  border-top: 1px solid mix(@base04, white, 0.5);
  border-bottom: 1px solid mix(@base04, black, 0.5);
}
