snippet div "<div></div>"
	<div>
		$0
	</div>

snippet divc "<div class='class'></div>"
	<div class="$1">
		$0
	</div>

snippet =
	<%= $0 %>

snippet -
	<% $0 %>

snippet #
	<%# $0 %>

snippet fc
	<.$1 />$0
