* {
  font-family: "PragmataPro Liga";
  font-size: 14px;
}

window#waybar {
  background-color: alpha(@base00, 0.5);
}

tooltip {
  background: alpha(@base01, 0.95);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  border-color: @base02;
  border-top-color: mix(@base00, white, 0.35);
  border-bottom-color: mix(@base00, black, 0.35);
  text-shadow: none;
  font-size: 14px;
  padding: 4px;
  margin: 0;
}

tooltip label {
  color: #eceff4;
}

#workspaces,
#mpris,
#window,
#submap,
.modules-right {
  transition: width;
  transition-duration: 2s;
  background-color: @base01;
  color: #eceff4;
  border-top: 1px solid mix(@base00, white, 0.35);
  /* border-bottom: 2px solid @base01; */
  padding: 0 10px;
  padding-bottom: 2px;
}

.modules-center {
  border-radius: 5px 5px 0 0;
}

.modules-right {
  border-top-left-radius: 5px;
}

#workspaces {
  padding: 0;
  border-top-right-radius: 5px;
  border-bottom: none;
}

#workspaces button {
  /* padding: 0 5px; */
  background: transparent;
  color: #eceff4;
  border-radius: 5px;
  padding-top: 4px;
}

#workspaces button.active {
  background: #4c566a;
}

/* #workspaces button.urgent { */
/*   background: #bf616a; */
/* } */

#mpris,
#window,
#submap {
  margin-left: 10px;
  border-radius: 5px 5px 0 0;
  padding-top: 4px;
}

#idle_inhibitor {
  margin-left: 6px;
}

#idle_inhibitor,
#network,
#pulseaudio,
#cpu,
#memory,
#battery,
#clock,
#mail,
#tray {
  padding-right: 14px;
  padding-top: 4px;
}

#custom-weather {
  padding-top: 8px;
}

#tray {
  padding-top: 1px;
  padding-left: 14px;
}

#custom-notification {
  padding-top: 1px;
  min-width: 25px;
}

/* #mode { */
/*   background: #64727D; */
/*   border-bottom: 3px solid white; */
/* } */

#battery.charging {
  background-color: #a3be8c;
  color: rgba(46, 52, 64, 0.9);
  padding-left: 6px;
  padding-right: 6px;
  margin-right: 12px;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

#battery.warning:not(.charging) {
  background: #bf616a;
  animation-name: blink;
  animation-duration: 0.75s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  padding-left: 6px;
  padding-right: 6px;
  margin-right: 12px;
}
